doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='style.css')
    title Responsive Thumbnail Gallery
  body
    .container
      .main-img
        img#current(src='asset/image/img1.jpg', alt='Papaver Rhoeas')
      .imgs
        img(src='asset/image/img1.jpg', alt='Papaver Rhoeas')
        img(src='asset/image/img2.jpg', alt='Calm Interior')
        img(src='asset/image/img3.jpg', alt='Sacred Circle')
        img(src='asset/image/img4.jpg', alt='Wild Flowers')
        img(src='asset/image/img5.jpg', alt='Yellow Flowers')
        img(src='asset/image/img6.jpg', alt='Pink Flowers')
        img(src='asset/image/img7.jpg', alt='Lavandula')
        img(src='asset/image/img8.jpg', alt='Orange Flowers')
    script(src='asset/js/main.js')
    